/*checkout*/
.form-control {
    margin-bottom: 1rem;
}

.form-control input,
.form-control label {
    display: block;
}

.form-control label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.form-control input,
.form-control select {
    font: inherit;
    padding: 0.5rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.form-control input:focus {
    outline: none;
    border-color: #240370;
    background-color: #e0d4fd;
}

.control-group {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}

.control-group .form-control {
    min-width: 15rem;
    flex: 1;
}

button {
    font: inherit;
    background-color: #240370;
    color: white;
    border: 1px solid #240370;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: #33059e;
    border-color: #33059e;
}

.form-actions {
    text-align: right;
}

.form-actions button {
    margin-left: 1rem;
}

.invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
}

.invalid input:focus {
    border-color: #ff8800;
    background-color: #fbe8d2;
}

.error-text {
    color: #b40e0e;
}


.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}

.actions .button--alt {
    color: #8a2b06;
}

.actions .button {
    background-color: #8a2b06;
    color: white;
}
/*!checkout*/

/*cart*/
.cart-items {
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 20rem;
    overflow: auto;
}

.total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.actions {
    text-align: right;
}

.actions button {
    font: inherit;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #8a2b06;
    padding: 0.5rem 2rem;
    border-radius: 25px;
    margin-left: 1rem;
}

.actions button:hover,
.actions button:active {
    background-color: #5a1a01;
    border-color: #5a1a01;
    color: white;
}

.actions .button--alt {
    color: #8a2b06;
}

.actions .button {
    background-color: #8a2b06;
    color: white;
}
/*!cart*/


/*cart-item*/
.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #8a2b06;
    padding: 1rem 0;
    margin: 1rem 0;
}

.cart-item h2 {
    margin: 0 0 0.5rem 0;
    color: #363636;
}

.summary {
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-weight: bold;
    color: #8a2b06;
}

.amount {
    font-weight: bold;
    border: 1px solid #ccc;
    padding: 0.25rem 0.75rem;
    border-radius: 6px;
    color: #363636;
}

.actions {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .actions {
        flex-direction: row;
    }
}

.cart-item button {
    font: inherit;
    font-weight: bold;
    font-size: 1.25rem;
    color: #8a2b06;
    border: 1px solid #8a2b06;
    width: 3rem;
    text-align: center;
    border-radius: 6px;
    background-color: transparent;
    cursor: pointer;
    margin-left: 1rem;
    margin: 0.25rem;
}

.cart-item button:hover,
.cart-item button:active {
    background-color: #8a2b06;
    color: white;
}
/*!cart-item*/



/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #8a2b06;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.mainImage {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
}

.mainImage img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-5deg) translateY(-4rem) translateX(-1rem);
}
/*!header*/



/*header-button*/
.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: #4d1601;
    color: white;
    padding: 0.75rem 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
}

.button:hover,
.button:active {
    background-color: #2c0d00;
}

.icon {
    width: 1.35rem;
    height: 1.35rem;
    margin-right: 0.5rem;
}

.badge {
    background-color: #b94517;
    padding: 0.25rem 1rem;
    border-radius: 25px;
    margin-left: 1rem;
    font-weight: bold;
}

.button:hover .badge,
.button:active .badge {
    background-color: #92320c;
}

.bump {
    animation: bump 300ms ease-out;
}

@keyframes bump {
    0% {
        transform: scale(1);
    }
    10% {
        transform: scale(0.9);
    }
    30% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1.15);
    }
    100% {
        transform: scale(1);
    }
}
/*!header-button*/


/*meal*/
.meal {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
}

.meal h3 {
    margin: 0 0 0.25rem 0;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #ad5502;
    font-size: 1.25rem;
}
/*!meal*/



/*meal-form*/
.form {
    text-align: right;
}

.form button {
    font: inherit;
    cursor: pointer;
    background-color: #8a2b06;
    border: 1px solid #8a2b06;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}

.form button:hover,
.form button:active {
    background-color: #641e03;
    border-color: #641e03;
}


.input {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input label {
    font-weight: bold;
    margin-right: 1rem;
}

.input input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
}
/*!meal-form*/




/*meals*/
.meals {
    max-width: 60rem;
    width: 90%;
    margin: 2rem auto;
    animation: meals-appear 1s ease-out forwards;
}

.meals ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

@keyframes meals-appear {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.message{
    text-align: center;
}
/*!meals*/




/*summary*/
.summary {
    text-align: center;
    max-width: 45rem;
    width: 90%;
    margin: auto;
    margin-top: -10rem;
    position: relative;
    background-color: #383838;
    color: white;
    border-radius: 14px;
    padding: 1rem;
    box-shadow: 0 1px 18px 10px rgba(0, 0, 0, 0.25);
}

.summary h2 {
    font-size: 2rem;
    margin-top: 0;
}
/*!summary*/



/*card*/
.card {
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    background-color: white;
}
/*!card*/



/**modal**/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 20;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    position: fixed;
    top: 20vh;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 30;
    animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
    .modal {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/**!modal**/